@page "/Motorcycles"
@using MotoSerwis.Components.Account.Shared.Enums
@using MotoSerwis.Components.Account.Shared.Extensions
@attribute [StreamRendering]
@rendermode InteractiveServer

@inject NavigationManager Navigation


<h1>Motocykle</h1>

<PageTitle>Lista motocykli</PageTitle>

<div class="d-flex justify-content-end">
    <NavLink class="btn btn-primary" href="Motorcycle/Add">Dodaj</NavLink>
</div>

@if (motorcycles == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Rok produkcji</th>
                <th>Właściciel</th>
                <th>Adres</th>
                <th>Numer telefonu</th>
                <th>Status serwisowy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var motorcycle in motorcycles)
            {
                <tr style="cursor: pointer;" @onclick="@(() => NavigateToDetails(motorcycle.Id))">
                    <td>@motorcycle.Id</td>
                    <td>@motorcycle.Make</td>
                    <td>@motorcycle.Model</td>
                    <td>@motorcycle.YearOfManufacture</td>
                    <td>@motorcycle.OwnerName</td>
                    <td>@motorcycle.OwnerAddress</td>
                    <td>@motorcycle.OwnerPhoneNumber</td>
                    <td>@motorcycle.Status.GetDisplayName()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MotorcycleListItem> motorcycles = new List<MotorcycleListItem>();

    private void NavigateToDetails(int id)
    {
        Navigation.NavigateTo($"/Motorcycle/Details/{id}");
    }

    protected override async Task OnInitializedAsync() {
        // TODO: get from db
        motorcycles = new List<MotorcycleListItem>
        {
            new MotorcycleListItem
            {
                Id = 1,
                Make = "Honda",
                Model = "Hornet",
                YearOfManufacture = "2015",
                OwnerName = "Jan Kowalski",
                OwnerAddress = "Rzeszów 123",
                OwnerPhoneNumber = "123 321 123",
                Status = MotorcycleServiceStatus.Received
            },
            new MotorcycleListItem
            {
                Id = 2,
                Make = "Kawasaki",
                Model = "Z750",
                YearOfManufacture = "2007",
                OwnerName = "Kamil Kowalski",
                OwnerAddress = "Rzeszów 1233",
                OwnerPhoneNumber = "123 321 123",
                Status = MotorcycleServiceStatus.PickedUp
            },
            new MotorcycleListItem
            {
                Id = 3,
                Make = "Yamaha",
                Model = "Fazzer",
                YearOfManufacture = "2012",
                OwnerName = "Jan Kowalski",
                OwnerAddress = "Rzeszów 123",
                OwnerPhoneNumber = "123 321 123",
                Status = MotorcycleServiceStatus.Testing
            },
            new MotorcycleListItem
            {
                Id = 4,
                Make = "Honda",
                Model = "Hornet",
                YearOfManufacture = "2015",
                OwnerName = "Jan Kowalski",
                OwnerAddress = "Rzeszów 123",
                OwnerPhoneNumber = "123 321 123",
                Status = MotorcycleServiceStatus.UnderRepair
            },
            new MotorcycleListItem
            {
                Id = 5,
                Make = "BMW",
                Model = "GS1200",
                YearOfManufacture = "2020",
                OwnerName = "Bogdan Kowalski",
                OwnerAddress = "Rzeszów 123",
                OwnerPhoneNumber = "123 321 123",
                Status = MotorcycleServiceStatus.Received
            }
        };
    }

    private class MotorcycleListItem {
        public int Id { get; set; }
        public string? Make { get; set; }
        public string? Model { get; set; }
        public string? YearOfManufacture { get; set; }
        public string? OwnerName { get; set; }
        public string? OwnerAddress { get; set; }
        public string? OwnerPhoneNumber { get; set; }
        public MotorcycleServiceStatus Status { get; set; }
    }
}
